.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  margin-top: 150px;
  box-sizing: border-box;
  background: #343a40;
}

.not-signed-up {
  background-color: #63CD78;
  min-height: 30em;
}

a, a:hover {
  color: antiquewhite;
  text-decoration: none;
}

.logo {
  margin-left: 38em;
}